<h1>Reactivos: <small>Básicos</small></h1>
<hr />
<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" [formGroup]="miFormulario">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            autocomplete="off"
            formControlName="nombre"
            placeholder="Nombre del producto"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')"
            >Debe contener más de 3 letras</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            placeholder="Precio del producto"
            formControlName="precio"
          />
          <span class="form-text text-danger" *ngIf="campoNoValido('precio')"
            >El precio no debe ser menor a 0</span
          >
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            placeholder="Existencias del producto"
            formControlName="existencia"
          />
          <span class="text-danger" *ngIf="campoNoValido('existencia')">
            El stock no puede ser menor a 0
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Valid</span>
    <code>
      <pre
        >{{ miFormulario.valid }}
        </pre
      >
    </code>
    <span>Pristine</span>
    <code>
      <pre
        >{{ miFormulario.pristine }}
        </pre
      >
    </code>
    <span>Touched</span>
    <code>
      <pre
        >{{ miFormulario.touched }}
        </pre
      >
    </code>
    <span>Value</span>
    <code>
      <pre
        >{{ miFormulario.value | json }}
        </pre
      >
    </code>
    <span>Errors Precio</span>
    <code>
      <pre
        >{{ miFormulario.controls.precio.errors | json }}
        </pre
      >
    </code>
  </div>
</div>
